/bootstrap/compiled.php
/vendor
/node_modules
/app/assets/bower_components
/public/assets/fonts/
public/build/
/.sass-cache
summary.json
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
